* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#num {
    font-size: 48px;
    font-family: sans-serif;
    color: green;
}

.btns {
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: tomato;
    border: none;
    border-radius: 10px;
}