.box {
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
} 

button {
    margin-top: 15px;
    border: none;
}

.circle {
    margin-top: 15px;
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
}