* {
    margin: 0;
    padding: 0;
}

img {
    float: left;
    margin: 10px;
}

p {
    margin: 10px;
    text-align: justify;
}

.box {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin: 10px;
    float: left;
}

.clearFix {
    clear: both;
}