table {
    width: 70%;
    height: 70%;
    /* otherwise there would be space in the cells borders  */
    border-spacing: 5px;
    margin: auto;
    background-color: burlywood;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

tr:hover {
    background-color: tomato;
}