* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 2;
}

.color {
    color: #deb887;
    margin: 100px;
    letter-spacing: 1px;
    word-spacing: 20px;
}

.essay {
    margin: 100px;
    text-align: justify;
}