* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 22px 3px rgba(255,99,71,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15px 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    color: brown;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    padding: 5px;
}

.nav-links li a {
    text-decoration: none;
    color: burlywood;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in;
}

.nav-links li a:hover {
    color: tomato;
}

.login-btn {
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.login-btn a {
    text-decoration: none;
    color: #16474c;
}

.login-btn:hover  {
    background-color: royalblue;
}

.login-btn a:hover {
    color: white;
}