* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    /* flex-direction: row-reverse; */

    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* row gap col gap  */
    gap: 30px 10px;
}

.items {
    margin: 4px;
    height: 32px;
    width: 32px;
    background-color: tomato;
    border: 2px solid black;
}

.item-1 {
    flex-grow: 5;
}

.item-2 {
    flex-grow: 1;
}