* {
    margin: 0;
    padding: 0;
}

/* Grid - 1 */
.container {
    border: 4px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: tomato;
    height: 55px;
    border: 2px solid red;
}

.item-3 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.item-5 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.item-4 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item-1 {
    /* takes row line from 1 to 2  */
    grid-row: 1/2;
    /* takes column line from 1 to 3  */
    grid-column: 1/3;
}