* {
    margin: 0;
    padding: 0;
}

/* Grid - 2 */
.container {
    border: 4px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"
                        "side article article"
                        "footer footer footer";
}

.item {
    background-color: tomato;
    height: 55px;
    border: 2px solid red;
}

.item-1 {
    grid-area: nav;
}

.item-2 {
    grid-area: side;
}

.item-3 {
    grid-area: article;
}

.item-4 {
    grid-area: footer;
}

.item-5 {
    grid-area: footer;
}


